.pickContainer {
  background-image: url(../assets/img/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "col1 col2"
    "col3 col3";
  gap: 5rem;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.gridItem1Wrap {
  grid-area: col1;
}
.gridItem2Wrap {
  grid-area: col2;
}
.gridItem3Wrap {
  grid-area: col3;
}
