.resultContainer {
  width: 70%;
  margin: 1rem auto;
  margin-bottom: 1rem;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  gap: 5rem;
  padding: 3rem;
}

p {
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.icon {
  transform: scale(1.3);
}

.resultBox {
  z-index: 5;
}

.resultBox p {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.resultBox button {
  background-color: white;
  color: hsl(229, 25%, 31%);
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 3rem;
  margin: 0.5rem;
  cursor: pointer;
}

.resultBox button:hover {
  color: rgb(204, 48, 48);
}

@media (max-width: 768px) {
  .resultContainer {
    transform: scale(0.8);
    padding: 1rem;
    gap: 3rem;
    margin-top: 0;
  }
  .icon {
    transform: scale(1.1);
  }
}

@media (max-width: 576px) {
  .resultContainer {
    transform: scale(0.7);
  }
}

@media (max-width: 375px) {
  .resultContainer {
    transform: scale(0.5);
  }
  .icon {
    transform: scale(1.2);
  }
}
