.rulesButton {
  padding: 8px 30px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: 2px;
  margin-left: 80%;
  cursor: pointer;
}
.rulesContainer {
  position: relative;
  z-index: 5;
}

@media (max-width: 576px) {
  .rulesButton {
    width: fit-content;
    margin: auto;
  }

  .rulesContainer {
    width: fit-content;
    margin: 2rem auto;
  }
}
