.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
}
.modal {
  position: fixed;
  top: 20%;
  left: 30%;
  width: 40%;
  padding: 1rem;
  z-index: 100;
  background-color: white;
  border-radius: 10px;
  overflow: scroll;
}
.rulesImg {
  width: fit-content;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.header img {
  cursor: pointer;
}

@media (max-width: 768px) {
  .modal {
    width: 70%;
    left: 15%;
  }
}
@media (max-width: 576px) {
  .modal {
    width: 98%;
    left: 1%;
  }
}
@media (max-width: 375px) {
  .modal {
    width: 100%;
    left: 0%;
  }
  .rulesImg {
    margin: 0.2rem auto;
  }
}
